
    <h4><%= t('.dear') %> <%= @user.first_name %>,</h4>
    <p><%= t('.welcome') %></p>
    <p> <%= t('.success') %>
       <%= @user.email %>.<br>
    </p>
    <p>
      <%= link_to t('.return'), root_url %>
    </p>
    <p><%= t('.thanks') %></p>

    <p><%= t('.regards') %></p>

    <p><%= t('.team') %></p>