<div>
  <%= form.hidden_field :_destroy %>
  <%= form.label :amount %>
  <%= form.text_field :amount %>
    <%= form.label :unit %>
  <%= form.text_field :unit %>
  <%= form.label :ingredient %>
  <%= form.text_field :ingredient %>
</div>
<!-- <div>
  <%= link_to "Remove", '#', class: "remove_fields" %>
</div> -->
