<div class="pages">
 
  <div class="index-top">
    <div class="index-top-container">
      <div class="index-form-container">
        <h1 class="index-title"><%= t('.recipes')%></h1>
        <div class= "index-form-grid">
        <% if I18n.locale == :fi %>
          <% current_categories = Category.all.select { |category| category.language == "finnish" }  %>
        <% else %>
          <% current_categories = Category.all.select { |category| category.language == "english" }  %>
        <% end %>
        <%= form_tag recipes_path, method: :get, class: "index-form" do %>

          <%= text_field_tag :query,
            params[:query],
            placeholder: t('placeholder_recipe'),
            class: "input-box input-box-index input-search"
          %>
          <% @categories = Category.all%>
          <%=  collection_select :category, :id, current_categories, :id, :name, { prompt: t('.placeholder_category') }, { class: "input-box input-box-index input-search" }%>
          
          <%= button_tag(type: "submit", class: "btn-home btn-search btn-index") do %>
            <%= t('search') %> <i class="fa fa-search"></i>
          <% end %>
          <% end %>
        </div>
        <%= link_to recipes_path do %>
          <button class="btn-home btn-search btn-index btn-reset-index"> 
            <i class="fa fa-home"></i>
          </button>
        <% end %>
        </div>
    </div>
  </div>
  <% if I18n.locale == :fi %>
    <% current_recipes = @recipes.select { |recipe| recipe.language == "finnish" } %>
  <% else %>
    <% current_recipes = @recipes.select { |recipe| recipe.language == "english" } %>
  <% end %>
      
  <div class="index-container">
  
    <div class="index-grid">
      <!-- <div class="index-cards"> -->
      <% current_recipes.each do |recipe| %>
        <div class="index-card">
          <%= link_to recipe_path(recipe) do %>
          <div class="img-box-index">
            <% if recipe.photo.url %>
              <%= cl_image_tag recipe.photo, height: 200, width: 200, crop: :fill %>
            <% else %>
              <%= image_tag("recipe_default.jpg", class:"index-default") %>
            <% end %>
          </div>
          <div class="index-card-content">
            <div>
              <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
              <div class="card-stars">
                <% recipe.average_rating.times do%>
                  <span class="fa fa-star checked"></span>
                  <% end %>
                  <% (5 - recipe.average_rating).times do%>
                  <span class="fa fa-star empty"></span>
                <% end %>
              </div>
              <div class="card-numbers">
                <div class="inline">
                  <i class="fas fa-utensils space-right"></i>
                  <p class="portions_number_original"><%= recipe.portions %></p>
                </div>
                <p><i class="fas fa-clock space-right"></i><%= recipe.time %> min</p>
              </div>
            </div>
            <div>
              <ul class="card-categories">
                <% recipe.categories[0..2].each do |category| %>
                  <li class="index-cat">
                    <%= category.name %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="home-link">
      <%= link_to recipes_path do %>
        <button class="btn-home btn-small"> 
          <i class="fa fa-home"></i>
        </button>
      <% end %>
    </div>
  </div>
</div>
