<div class="container">
<div class="banner">
    <h1>Add a new recipe</h1>
</div>
    <%= form_with model: @recipe, local: true do |form| %>
    <div class="form-inputs">
      <%= form.label :name %>
      <%= form.text_field :name %>
      <br>
      <%= form.label :description %>
      <%= form.text_field :description %>
      <%=  form.fields_for :doses do |doses_form| %>
        <%= render "dose_fields", form: doses_form %>
        <% end %>
        <%= link_to_add_fields "Add an ingredient", form, :doses %>
    </div>
    <div class="form-actions">
      <%= form.submit %>
    </div>
    <% end %>
    <br>

<h4><%= link_to "Home", recipes_path, class: "btn btn-primary" %></h4>
</div>
