<div class="pages"> 
  <div class="container">
    <div class="recipe-form">
      <div class="form-banner">
          <h1><%= t('.add')%></h1>
      </div> 
      <% if !current_user%>
        <div class="log-in-banner">
          <p><%= t('.log_in_warning')%></p>
          <%= link_to t('login_s'), new_user_session_path, class:"btn btn-form btn-green" %>
          <p><%= t('not_member')%>
        <%= link_to t('sign_up'), new_user_registration_path, class: "btn-form btn-blue"  %></p>
        </div>
      <% end %>

      <%= render 'form' %>

      <br>
    </div>
  </div>
</div>

