<% content_for :meta_title, "#{@recipe.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @recipe.description %>
<% if @recipe.photo.present? %>
  <% content_for :meta_image, cl_image_path(@recipe.photo) %>
<% end %>

<div class="pages">
  <div class="show-container">
    <div class="show-left">
      <% if @recipe.photo.present? %>
        <div class="banner-show banner-photo title=@recipe.name" style="background-image: url('<%= cl_image_path @recipe.photo.url, height: 540, width: 1000, crop: :fill %>')">
        </div>
      <% else %>
         <div class="banner-show banner-photo">
            <%=image_tag("recipe_default.jpg", class: "show-default") %>
        </div>
      <% end %>

      <h2 class= "recipe-title"><%= @recipe.name.split.map(&:capitalize)*' '%></h2>
      <div class="show-icons">
        <% if current_user&.favourited?(@recipe) %>
          <% favourite = current_user.get_fav_instances(@recipe) %>
          <%= button_to "", { action: 'destroy', controller: 'favourites', id: favourite.id }, method: :delete, class: 'unfav-button fav' %>

        <% else %>
          <%= button_to "", { action: 'create', controller: 'favourites', recipe_id: @recipe.id }, class: 'favourite-button fav'%>

        <% end %>
      </div>
      <div class="show-stars">
        <% @recipe.average_rating.times do%>
          <span class="fa fa-star checked"></span>
          <% end %>
          <% (5 - @recipe.average_rating).times do%>
          <span class="fa fa-star empty"></span>
        <% end %>
      </div>
      <div class="recipe-description">
        <%= @recipe.description %>
      </div>
      <div class="show-numbers">
        <div class="inline">
          <i class="fas fa-utensils space-right"></i>
          <p class="portions_number_original"><%= @recipe.portions %></p>
        </div>
        <p><i class="fas fa-clock space-right"></i><%= @recipe.time %> <%= t('.minutes') %></p>
      </div>
        <ul class="show-doses">
        <% @recipe.doses.each do |dose| %>
          <li class="show-dose-line">
            <div class="dose-unit">
            <% if dose.amount != nil %>
              <p class="dose-amount"><%= dose.amount.round == dose.amount ? dose.amount.round : dose.amount %></p>
            <% end %>
            <%= dose.unit %>
            </div>
            <p style="last-element" class="ingredient"><%= dose.ingredient.capitalize %></p>
          </li>
        <% end %>
        </ul>
        <ul class="show-steps">
          <% @recipe.steps.each do |step| %>
            <li> <%= step.detail.capitalize %> </li>
          <% end %>
        </ul>
      <% if @recipe.categories.count > 0 %>
        <div class="show-categories">
          <h5><%= t('.categories') %></h5>
          <ul>
          <% @recipe.categories.each do |category| %>
            <li class="show-cat">
              <%= category.name %>
            </li>
          <% end %>
          </ul>
        </div>
      <% end %>


      <div class="show-buttons">
       <%= link_to new_recipe_review_path(@recipe) do %>
        <button class="btn-show btn-blue">
          <%= t('.add_review') %>
        </button>
       <% end %>
       <% if policy(@recipe).edit? %>
        <%= link_to edit_recipe_path(@recipe) do %>
            <button class="btn-show btn-blue">
              <%= t('.edit') %>
            </button>
          <% end %>
       <% end %>
        <a href="#" data-toggle="modal" data-target="#mail-confirmation">
                <button class="btn-show btn-blue", data-toggle="modal"><%= t('.send')%></button>
              </a>
          <div class="delete-confirmation modal" id="mail-confirmation" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <% if current_user %> 
                  <div class="my-modal-body">
                    <p><%= t('.send_confirm') %></p> 
                  </div>
                  <div class="modal-footer">
                    <button class="btn-cancel" data-dismiss="modal"><%= t('.cancel') %></button>
                    <%= link_to send_recipe_path(@recipe) do %>
                      <button class="btn-blue btn-show btn-tight">
                        <%= t('.send_it')%>
                      </button>
                    <% end %>
                  </div>
                <% else %>
                  <div class="my-modal-body">
                    <p><%= t('.log_in_send')%></p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn-cancel" data-dismiss="modal"><%= t('.cancel') %></button>
                      <%= link_to new_user_session_path do %>
                        <button class="btn-blue btn-show btn-tight">
                          <%= t('.login')%>
                        </button>
                      <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
      <%= link_to recipes_path do %>
        <button class="btn-show btn-blue">
          <%= t('.all')%>
        </button>
      <% end %>
      </div>
    </div>
    <div class="show-right">
      <div class="note-box">
        <h4><%= t('.my_notes')%></h4>
        <% if current_user && current_user.commented?(@recipe) %>
        <p><%= current_user.get_comment_instances(@recipe).content %></p>
          <% @comment =  current_user.get_comment_instances(@recipe) %>
          <%= link_to edit_recipe_comment_path(@recipe) do %>
          <button class="btn-note btn-blue">
            <%= t('.edit_note')%>
          </button>
          <% end %>
        <% else %>
          <%= link_to new_recipe_comment_path(@recipe) do %>
            <button class="btn-note btn-blue">
              <%= t('.write_note')%>
            </button>
          <% end %>
        <% end %>
      </div>
      <div class="calculator">
        <h4><%= t('.recalculate')%></h4>
        <%= t('.portions')%>
        <form class="ration-form">
          <input type="number" id="rations", placeholder=<%= @recipe.portions%>>
          <button type="submit" id="btn-calculator" class="btn-note btn-blue"><%= t('.change') %></button>
        </form>

      </div>
      <% if @recipe.reviews.present? %>
        <div class="show-reviews">
          <% @recipe.reviews.each do |review| %>
            <div class="show-review-box">
              <div>
                <% review.rating.times do%>
                  <span class="fa fa-star checked"></span>
                <% end %>
                <% (5 - review.rating).times do%>
                  <span class="fa fa-star empty"></span>
                <% end %>
                <p>"<%= review.content %>"</p>
                <% if review.writer %>
                  <p class="reviewer"><%= review.writer %> </p>
                <% else %>
                  <p class="reviewer"><%= review.user.first_name %> </p>
                <% end %>
              </div>
              <div>
                <% if review.photo?%>
                  <%= cl_image_tag review.photo, height: 100, width: 100, crop: :fill  %>
                <% end %>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      <% end %>


      <div class="show-tips">
        <h4><%= t('.suggestions')%></h4>
          <% similars = [] %>
          <% Recipe.all.each do |recipe|
            if recipe.categories.include?(@recipe.categories[0] || @recipe.categories[1] || @recipe.categories[2])
              next if recipe == @recipe
              similars << recipe
            end %>
          <% end %>
          <div class="tip-grid">
            <% similars[0..3].each do |similar| %>
              <div class="index-card">
                <%= link_to recipe_path(similar) do %>
                  <div class="img-box-index">
                    <% if similar.photo.url %>
                      <%= cl_image_tag similar.photo, height: 200, width: 200, crop: :fill %>
                    <% else %>
                      <%= image_tag("recipe_default.jpg", class:"index-default") %>
                    <% end %>
                  </div>
                  <div class="index-card-content">
                    <h3><%= link_to similar.name, recipe_path(similar) %></h3>
                    <div class="card-stars">
                      <% similar.average_rating.times do%>
                        <span class="fa fa-star checked"></span>
                        <% end %>
                        <% (5 - similar.average_rating).times do%>
                        <span class="fa fa-star empty"></span>
                      <% end %>
                    </div>
                    <div class="card-numbers">
                      <div class="inline">
                        <i class="fas fa-utensils space-right"></i>
                        <p class="portions_number_original"><%= similar.portions %></p>
                      </div>
                      <p><i class="fas fa-clock space-right"></i><%= similar.time %> min</p>
                    </div>
                    <ul class="card-categories">
                      <% similar.categories[0..2].each do |category| %>
                        <li class="index-cat">
                          <%= category.name %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>

