<div class="profile-container">
  <% @user = current_user %>
  <h4 class="name"><%= @user.Firstname%> <%= @user.Lastname%></h4>
  <%= @user.email %></p>
  <% if @user.avatar.present? %>
   <%= cl_image_tag user.avatar.url(:height => 150, :width => 150, :crop => :fill, :gravity => :face, :radius => 75)%>
    <% end %>
  </p>
      <%#= link_to "Update profile", edit_user_registration_path(user), class: "btn btn-info"  %></p>
  <hr>

  <h4>My favourites</h4>
  <div class="index-grid">
    <% @user.favourites.each do |favourite| %>
      <div class="profile-card">

        <div class="img-box-index">
          <% if favourite.recipe.photo.url %>
            <%= cl_image_tag favourite.recipe.photo, height: 200, width: 200, crop: :fill %>
          <% else %>
            <%= image_tag("recipe_default.jpg", class:"profile-default-img") %>
          <% end %>

            <% if  current_user.commented?(favourite.recipe) %>
            <div class="profile-icons">
              <%= image_tag("post-it.png", class:"comment-icon") %>
              </div>
            <% end %>

        </div>
        <%= link_to recipe_path(favourite.recipe) do %>
        <div class="index-card-content">
          <h3><%= favourite.recipe.name %></h3>
          <ul>
            <% favourite.recipe.categories.each do |category| %>
              <li class="index-cat">
                <%= category.name %>
              </li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </div>
  <% end %>
  </div>
    <h4>My recipes</h4>
  <% @user.recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe) do %>
      <p><%=recipe.name%></p>
    <% end %>
  <% end %>
  <br>
  <h4>My reviews</h4>
  <% @user.reviews.each do |review| %>
    <%= link_to recipe_path(review.recipe) do %>
      <h5><%=review.recipe.name %></h5>
      <p>"<%= review.content %>"</p>
        <% review.rating.times do%>
          <span class="fa fa-star checked"></span>
        <% end %>
        <% (5 - review.rating).times do%>
          <span class="fa fa-star empty"></span>
        <% end %>
        <hr>
    <% end %>
  <% end %>
</div>
