<div class="profile-container">
  <% @user = current_user %>
  <h4 class="name"><%= @user.first_name%> <%= @user.last_name%></h4>
  <%= @user.email %></p>
  <% if @user.avatar.present? %>
   <%= cl_image_tag user.avatar.url(:height => 150, :width => 150, :crop => :fill, :gravity => :face, :radius => 75)%>
   <% end %>

  <%= link_to edit_user_registration_path(@user) do %>
    <button class="btn-small">
      <%= t('.update')%>
    </button>
  <% end %>

  <hr>

  <h4 class="profile-title"><%= t('.favourites')%></h4>
    <div class="index-grid">
      <% my_favourites = @user.favourites %>
      <% my_favourites.each do |favourite| %>
      <% @recipe = favourite.recipe %>
        <div class="profile-card">
          <%= link_to recipe_path(favourite.recipe) do %>
          <div class="img-box-index">
            <% if favourite.recipe.photo.url %>
              <%= cl_image_tag favourite.recipe.photo, height: 150, width: 200, crop: :fill %>
            <% else %>
              <%= image_tag("recipe_default.jpg", class:"index-default") %>
            <% end %>

          </div>
          <div class="profile-card-content">
            <%= link_to recipe_path(favourite.recipe) do %>
            <h3><%= link_to favourite.recipe.name, recipe_path(favourite.recipe) %></h3>
            <div class="profile-star-box">
              <div class="card-stars">
                <% favourite.recipe.average_rating.times do%>
                  <span class="fa fa-star checked"></span>
                  <% end %>
                  <% (5 - favourite.recipe.average_rating).times do%>
                  <span class="fa fa-star empty"></span>
                <% end %>

              </div>
              <% if  current_user.commented?(favourite.recipe) %>
                <% @comment = current_user.get_comment_instances(favourite.recipe) %>
                <div class="profile-icons" id="comment-click" data-toggle="modal" data-target="#modal-<%=@comment.id%>">
                  <%= image_tag("post-it.png", class:"comment-icon") %>
                </div>

              <div class="modal fade" id="modal-<%= @comment.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <p>
                        <%= current_user.get_comment_instances(favourite.recipe).content  %>
                      </p>
                      <button type="button" class="btn-small" data-dismiss="modal"><%= t('.close')%></button>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            </div>
            <div class="card-numbers">
              <div class="inline">
                <i class="fas fa-utensils space-right"></i>
                <p class="portions_number_original"><%= favourite.recipe.portions %></p>
              </div>
              <p><i class="fas fa-clock space-right"></i><%= favourite.recipe.time %> min</p>
            </div>
            <ul class="card-categories">
              <% favourite.recipe.categories[0..3].each do |category| %>
                <li class="index-cat">
                  <%=category.name %>
                </li>
              <% end %>
            </ul>
            <% end %>
          </div>
          <% end %>
        </div>
      <% end %>

    </div>

    <h4 class="profile-title"><%= t('.my_recipes')%></h4>
    <div class="index-grid">
      <% my_recipes = @user.recipes.order('name ASC') %>
      <% my_recipes.each do |recipe| %>
        <div class="index-card">
          <%= link_to recipe_path(recipe) do %>
          <div class="img-box-index">
            <% if recipe.photo.url %>
              <%= cl_image_tag recipe.photo, height: 200, width: 200, crop: :fill %>
            <% else %>
              <%= image_tag("recipe_default.jpg", class:"index-default") %>
            <% end %>
          </div>
          <div class="index-card-content">
            <div>
              <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
            </div>
            <div>
              <div class="card-stars">
                <% recipe.average_rating.times do%>
                  <span class="fa fa-star checked"></span>
                  <% end %>
                  <% (5 - recipe.average_rating).times do%>
                  <span class="fa fa-star empty"></span>
                <% end %>
              </div>
              <div class="card-numbers">
                <div class="inline">
                  <i class="fas fa-utensils space-right"></i>
                  <p class="portions_number_original"><%= recipe.portions %></p>
                </div>
                <p><i class="fas fa-clock space-right"></i><%= recipe.time %> min</p>
              </div>
            </div>
            <div>
              <ul class="card-categories">
                <% recipe.categories[0..3].each do |category| %>
                  <li class="index-cat">
                    <%= category.name %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    <!-- </div> -->
    </div>
  <br>
  <h4 class="profile-title"><%= t('.my_reviews')%></h4>
  <div class="profile-review-grid">
    <% @user.reviews.each do |review| %>
      <div class="profile-review">
        <div>
          <% @recipe = review.recipe %>
          <%= link_to recipe_path(review.recipe) do %>
            <h5><%=review.recipe.name %></h5>
            <p>"<%= review.content %>"</p>
            <% review.rating.times do%>
              <span class="fa fa-star checked"></span>
            <% end %>
            <% (5 - review.rating).times do%>
              <span class="fa fa-star empty"></span>
            <% end %>
          <% end %>
          <span class="profile-review-icons">
            <%= link_to "", edit_recipe_review_path(@recipe, review), class: "fas fa-pencil-alt link-icon"%>
            <p class="deleting">
            <a href="#" data-toggle="modal" data-target="#conf-review-<%= review.id %>">
              <i class="fa fa-trash link-icon"></i>
            </a>
            </p>
            <!-- Modal -->
            <div class="delete-confirmation modal" id="conf-review-<%=review.id%>" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="my-modal-body">
                    <p>Do you want to delete this review?</p> 
                  </div>
                  <div class="modal-footer">
                    <button class="btn-cancel" data-dismiss="modal">Cancel</button>
                    <%= button_to "Delete", recipe_review_path(@recipe, review), method: :delete, class: "btn-delete-link" %> 
                  </div>
                </div>
              </div>
            </div>
          </span>
        </div>
        <div>
          <% if review.photo?%>
            <%= cl_image_tag review.photo, height: 100, width: 100, crop: :fill  %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <h4 class="profile-title"><%= t('.my_links')%></h4>
  <% if I18n.locale == :fi %>
    <% current_categories = Category.all.select { |category| category.language == "finnish" }  %>
  <% else %>
    <% current_categories = Category.all.select { |category| category.language == "english" }  %>
  <% end %>
  <div class="link-form-container">
    <%= form_tag user_path(anchor: "my_links"), method: :get, class: "link-search-form" do %>
      <%= text_field_tag :query,
        params[:query],
        placeholder: t('.placeholder_link'),
        class: "input-box input-box-index input-search"
      %>
      <% @categories = Category.all%>
      <%=  collection_select :category, :id, current_categories, :id, :name, { prompt: t('.choose_categories'), selected: ""  }, { class: "input-box input-box-index input-search" }%>
      <%= button_tag(type: "submit", class: "btn-home btn-search btn-index margin-top") do %>
        <%= t('search') %> <i class="fa fa-search"></i>
      <% end %>
    <% end %>
    <%= link_to user_path(current_user, anchor: "my_links")  do %>
      <button class="btn-home btn-search btn-index btn-reset-links"><%= t('.show_all') %></button>
    <% end %>
  </div>


  <div class="profile-review-grid">
    <% @links.each do |link| %>
      <div class="profile-link" id="my_links">
      <%= link_to link.url, target: "_blank" do %>
        <h5><%= link.title %></h5>
        <p><%= link.url.first(30) %>...</p>
        <% if link.image? %>
          <%= cl_image_tag link.image, height: 200, width: 200, crop: :fill %>
        <% end %>
        <% if link.categories.count > 0 %>
        <div>
          <ul class="link-categories">
          <% link.categories.first(3).each do |category| %>
            <li>
              <%= category.name %>
            </li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <% if link.note != ""%>
        <p>"<%= link.note %>"</p>
      <% end %>
        <div>          
          <%= link_to "", edit_link_path(link), class: "fas fa-pencil-alt link-icon"%>  
            <p class="deleting">
              <a href="#" data-toggle="modal" data-target="#conf-link-<%= link.id %>">
                <i class="fa fa-trash link-icon"></i>
              </a>
            </p>
                      <!-- Modal -->
            <div class="delete-confirmation modal" id="conf-link-<%=link.id%>" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="my-modal-body">
                    <p>Do you want to delete this link?</p> 
                  </div>
                  <div class="modal-footer">
                    <button class="btn-cancel" data-dismiss="modal">Cancel</button>
                    <%= button_to "Delete", link_path(link), method: :delete, class: "btn-delete-link" %> 
                  </div>
                </div>
              </div>
            </div>

        </div>
  
          
      <% end %>
      
      </div>
    <% end %>
  </div>
  <%= link_to new_link_path do %>
    <button class="btn-home btn-search btn-index margin-top">
      <%= t('.add_link')%><i class="fa fa-plus"></i>
    </button>
  <% end %>
  <br>
</div>

 
