<div class="navbar-wide">
  <ul>
    <li>
      <%= link_to root_path do %>
        <h3 class="logo">Recipeper</h3>
      <% end %>
    </li>
    <li>
      <%= link_to recipes_path do %>
        All recipes
      <% end %>
    </li>
    <li>
      <%= link_to new_recipe_path do %>
        Add a recipe
        <% end %>
    </li>
    <li>About</li>
    <li><i class="fas fa-search"></i></li>

    <% if user_signed_in? %>
      <ul class="user-action">
        <li>
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </li>
      </ul>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
  </ul>
</div>
