<div style="background-color: #FBF8F3; padding: 15px; font-family: arial, helvetica, sans-serif; color: #413E38 ">
  <h2 style="font-family:'Oregano', 'sans-serif'; font-weight: 300"><%= @recipe.name.split.map(&:capitalize)*' '%></h2> 
      
  <% if @recipe.photo.present? %>
    <%= cl_image_tag @recipe.photo, height: 100, width: 100, crop: :fill  %>
  <% end %>

  <div style="font-style: italic; padding: 10px 0;">
    <%= @recipe.description %>
  </div>
  <div style="opacity: 0.8; font-size: 90%">
    <p>Time of preparation: <%=@recipe.time %> minutes</p>
    <p>Portions: <%= @recipe.portions %></p>
  </div>
  <div>
    <% @recipe.doses.each do |dose| %>
      <p style="line-height: 0.8; font-family: arial, helvetica, sans-serif">
          <% if dose.amount != nil %>
            <%= dose.amount.round == dose.amount ? dose.amount.round : dose.amount %>
          <% end %>
          <%= dose.unit %> <%= dose.ingredient.capitalize %>
      </p>
    <% end %>
    <ul class="show-steps" style="padding-bottom: 20px; padding-left:0;">
      <% @recipe.steps.each do |step| %>
        <li style="list-style-type: none; line-height: 1.2;"> <%= step.detail.capitalize %> </li>
      <% end %>
    </ul>
  </div>
  <div>
    <% if @user.commented?(@recipe) %>
    <h4>My notes:</h4>
        <p><%= @user.get_comment_instances(@recipe).content %></p>
        <% @comment = @user.get_comment_instances(@recipe) %>
    <% end %>
  </div>


<p>* * * </p>
<p>Thank you for choosing <%= link_to "Recipeper", root_url %></p>
</div>