 
 <div class="container">

 <h2><%= t('.about_title')%></h2>

 <p>
    <%= t('.about_begin') %>
    <ul>
      <li><%= t('.about_li_1') %></li> 
      <li><%= t('.about_li_2') %></li> 
      <li><%= t('.about_li_3') %></li> 
      <li><%= t('.about_li_4') %></li> 
      <li><%= t('.about_li_5') %></li> 
      <li><%= t('.about_li_6') %></li> 
      <li><%= t('.about_li_7') %></li> 
      <li><%= t('.about_li_8')%> <a href="https://translate.google.com/?sl=en&tl=fi&op=translate", target="_blank"><%= t('.translate_href') %></a></li> 
      <li><%= t('.about_li_9') %> <a href="mailto:info@recipeper.com", target="_blank"><%= t('.link_mailto')%></a></li> 
    </ul>
 </p>
 
  <div class="about-bottom">
    <p><%= t('.about_thanks')%></p>
    <p>
      <%=  image_tag('hat_lightblue.png', class: "about-logo")%>
    </p>
  </div>


  <div class="copyright">
    <p>Copyright &copy; 2022 Recipeper</p>
    <p>Maria Manninen, Luxembourg</p>
    <p>* * *</p>


    <p>Homepage image: Photo by <a href="https://unsplash.com/@gadgapho?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Gareth Hubbard</a> on <a href="https://unsplash.com/s/photos/cooking?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>

    <p>Recipes page image: Photo by <a href="https://unsplash.com/@joannakosinska?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Joanna Kosinska</a> on <a href="https://unsplash.com/s/photos/cooking?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>

    <p>Default recipe image: <span>Photo by <a href="https://unsplash.com/@hannahbusing?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Hannah Busing</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></p>

    <p>Cover image: <span>Photo by <a href="https://unsplash.com/@alyson_jane?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Alyson McPhee</a> on <a href="https://unsplash.com/s/photos/cooking?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></p>

    <p>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
  </div>
</div>
