<div class="pages">
  <div class="home-container">
    <div class="home-content">
      <h1 style="font-size: 3rem">
        <%= t('.slogan')%>
      </h1>
      <p class="home-slogan">
        <%= t('.longer_slogan')%>
      </p>

        <%= form_tag recipes_path, method: :get, url: recipes_path do %>
          <%= text_field_tag :query,
            params[:query],
            placeholder: t('.placeholder_recipe'),
            class: "input-box home-input"
          %>
          <%= submit_tag t('.search'), class: "btn-home" %>
        <% end %>
    </div>
  </div>
</div>
