<div class="container">
  <h2><%= t('login')%></h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  label: t('.email')   
                  %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" },
                  label: t('.password')  
                  
                  %>
      <%= f.input :remember_me, label: t('.remember'), as: :boolean if devise_mapping.rememberable?  %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t('login_s'), class: "btn-form btn-green" %>
    </div>
  <% end %>
 
    <br>
  <p><%= t('not_member')%>
      <%= link_to new_registration_path(resource_name) do %>
          <button class="btn-form btn-blue">
            <%= t('sign_up')%>
          </button>
      <% end %>
  <br>
  <p><%= t('.forgot_password')%>
  <%= link_to new_password_path(resource_name) do %>
    <button class="btn-form btn-blue">
      <%= t('.change')%>
    </button>
  <% end %>
  <br>

  <%#= render "devise/shared/links" %>
  <%= link_to :back do%>
    <button class="btn-back"><i class="fas fa-backward"></i></button>
  <% end %>
</div>
