<div class="review-all"> 
  <div class="container">
    <h2><%= t('.review_title')%></h2>
    <div>
      <%= simple_form_for([@recipe, @review]) do |f| %>

      <%= f.input :content, label: t('.review_question'), as: :text, :input_html => { :rows => 10 } %>
     <!--    <%# 5.times do |n|%>
          <i id="star_rating" class="fas fa-star fa-lg", data-value="<%#= n + 1%>"></i>
        <%# end %> -->

      <%= f.input :rating, label: t('.rating'), collection: 1..5, selected: 5%>
      <% if !current_user%>
        <%= f.input :writer, label: t('.review_writer') %>
      <% end %>
        <div>
          <div id="img-preview" class="review-preview"></div>
          <%= f.input :photo, input_html: { class: "inputfile", id: "upload-img"}, label: t('.add_photo'), label_html: { class: " btn-home"} %>
        </div>
        
        <%= f.input :photo_cache, as: :hidden %>
        <div>
          <%= f.submit t('.publish'), class: "btn-home" %>
        </div>
      <% end %>
      <%= link_to :back do%>
        <button class="btn-back"><i class="fas fa-backward"></i></button>
    <% end %>
    </div>
  </div>
</div>
